<form name="productForm" class="form-horizontal" novalidate>
    <fieldset>
        <legend>Basic product Info</legend>
        <div class="form-group" ng-class="{'has-error':(productForm.name.$invalid)&&(productForm.name.$dirty)}">
            <label for="productName" class="col-md-2 control-label">Product Name:</label>
            <div class="col-md-4">
                <input name="name" id="productName" class="form-control" type="text" placeholder="Product Name" ng-model="vm.product.name" required ng-minlength="4" ng-maxlength="12"/>
            </div>
            <span class="help-block has-error col-md-2" ng-messages="productForm.name.$error">
                <span ng-message="required">Field is required</span>
                <span ng-message="minlength">Field must have 4+ chars</span>
                <span ng-message="maxlength">Field must have no more than 12 chars</span>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="productDescription">Product Description</label>
            <div class="col-md-4">
                <textarea class="form-control" name="description" id="productDescription" placeholder="Product Description" rows="3" ng-model="vm.product.description" ></textarea>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error':(productForm.code.$invalid)&&(productForm.code.$dirty)}">
            <label class="control-label col-md-2" for="productCode">Product Code</label>
            <div class="col-md-4">
                <input class="form-control" name="code" id="productCode" ng-model="vm.product.code" ui-mask="AAA-****" required/>
            </div>
            <span class="help-block has-error col-md-2" ng-messages="productForm.code.$error">
                <span ng-message="required">Field is required</span>
                <span ng-message="minlength">Field must have 4+ chars</span>
                <span ng-message="maxlength">Field must have no more than 12 chars</span>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="productDate">Product Date:</label>
            <div class="col-md-4 input-group">
                <input type="text" class="form-control" id="productDate" datepicker-popup="d/M/yyyy" is-open="vm.opened" ng-model="vm.product.release_date"/><span class="input-group-btn"><button class="btn btn-default" ng-click="vm.open($event)"><i class="glyphicon glyphicon-calendar"></i> </button> </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span><button type="button" class="btn btn-primary" title="Save" ng-click="vm.submit()" ng-disabled="productForm.$invalid"><i class="glyphicon glyphicon-save"></i> SAVE </button></span>
                <span><button type="button" class="btn btn-default" title="Back" ng-click="vm.cancel()"><i class="glyphicon glyphicon-chevron-left"></i> Back </button></span>
            </div>
        </div>
    </fieldset>
</form>